.schedule{
    display: flex;
    margin-top:30px;
    margin-left:80px;
    margin-right:80px;
    
}

.events{
width:170px
}
.events>h2{
color: darkblue;
font-size: 32px;
margin: 0;
}
.events>p{
color: black;
opacity: 0.7;
margin: 0;
}

.line{
    
    border: 1px solid #000; 
    height: auto;
    opacity: 0.1;
    margin-left: 90px;
    margin-right: 50px;
    
    
}

.eventDiv{
    display: flex;
    margin-top: 20px;
}
.time{
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 768px) {

    .schedule{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }

    .eventDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .line{
    
        border: 1px solid #000; 
        height: 1px;
        width: 100vw;
        opacity: 0.1;
       
    }

}